body {
	margin: 0;
	padding: 0;
	// 字体样式修改
	//   font-family: sans-serif;
	font-family: -apple-system,
		BlinkMacSystemFont,
		"PingFang SC",
		"Helvetica Neue",
		STHeiti,
		"Microsoft Yahei",
		Tahoma,
		Simsun,
		sans-serif;

}